# Review : Exploratory Data Analysis con Pandas y Preprocessing
#### UD1. Introducción al Machine Learning
#### MP. Sistemas de Aprendizaxe Automático
#### IES de Teis (Vigo), Vanesa Resúa Eiras, Cristina Gómez Alonso

En este cuarto notebook repasaremos los conceptos trabajados anteriormente

### *Ejercicio 0: Importación*

Carga en un dataframe el fichero adults.csv y muestra las primeras 10 filas.

In [11]:
import pandas as pd

adults = pd.read_csv('Notebooks_data_files/adult.csv',index_col=False, skipinitialspace=True)

adults.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,gains
0,50.0,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13.0,United-States,<=50K
1,38.0,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40.0,United-States,<=50K
2,53.0,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40.0,United-States,<=50K
3,28.0,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40.0,Cuba,<=50K
4,37.0,Private,284582,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40.0,United-States,<=50K
5,49.0,Private,160187,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16.0,Jamaica,<=50K
6,52.0,Self-emp-not-inc,209642,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45.0,United-States,>50K
7,31.0,Private,45781,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50.0,United-States,>50K
8,42.0,Private,159449,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40.0,United-States,>50K
9,37.0,Private,280464,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80.0,United-States,>50K

### *Ejercicio 1: Datos generales*

1. ¿Cuántas filas y columnas tiene el dataset?

In [7]:
print(f"Tiene {adults.shape[0]} filas y {adults.shape[1]} columnas")

Tiene 32560 filas y 15 columnas

2. Muestra información detallada de cada columna. Para cada tipo de datos, ¿Cuántas columnas tienes de dicho tipo?

In [14]:
adults.info()

# Hay 3 de tipo float64, 3 de tipo int64, y 9 tipo object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32559 non-null  float64
 1   workclass       32557 non-null  object
 2   fnlwgt          32560 non-null  int64
 3   education       32560 non-null  object
 4   education-num   32554 non-null  float64
 5   marital-status  32560 non-null  object
 6   occupation      32560 non-null  object
 7   relationship    32560 non-null  object
 8   race            32558 non-null  object
 9   sex             32560 non-null  object
 10  capital-gain    32560 non-null  int64
 11  capital-loss    32560 non-null  int64
 12  hours-per-week  32552 non-null  float64
 13  native-country  32560 non-null  object
 14  gains           32560 non-null  object
dtypes: float64(3), int64(3), object(9)
memory usage: 3.7+ MB

3. Muestra información estadística de cada columna numérica y responde a las siguientes preguntas.¿Cuantos años tiene el usuario más mayor y el más joven? ¿Cuál es la mayor ganancia para un usuario? ¿En qué cuartil se superan las 40h semanales de trabajo?

In [21]:
# adults.describe() muestra una tabla con todos los datos
adults['age'].max() # 90 años
adults['age'].min() # 17 años
adults['capital-gain'].max() # 99999
adults['hours-per-week'].quantile(0.75) # a partir del tercer cuartil

np.float64(45.0)

4. ¿Existen nulos en alguna de las columnas?

In [22]:
adults.isnull().sum()

age               1
workclass         3
fnlwgt            0
education         0
education-num     6
marital-status    0
occupation        0
relationship      0
race              2
sex               0
capital-gain      0
capital-loss      0
hours-per-week    8
native-country    0
gains             0
dtype: int64

### *Ejercicio 3: Índices*

1. ¿Qué valores diferentes tiene la columna relationship? ¿En qué proporción?

In [25]:
adults['relationship'].unique() # valores que puede tomar la columna 
adults['relationship'].value_counts() # para cada valor diferente nos dice el total de elementos que encuentra

adults['relationship'].value_counts(normalize=True)*100 # para cada valor diferente nos dice el porcentaje de ocurrencias que encuentra

relationship
Husband           40.519042
Not-in-family     25.503686
Own-child         15.565111
Unmarried         10.583538
Wife               4.815725
Other-relative     3.012899
Name: proportion, dtype: float64

2. ¿Y la columna native-country?

In [26]:
adults['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

3. Crea un nuevo dataframe llamado adults_new_index con un índice para las columna relationship y native-country.

In [27]:
adults_new_index = adults.set_index(['relationship', 'native-country'])

### *Ejercicio 4: Selección de datos específicos por columna/fila*

1. Muestra los datos exclusivamente de las columnas edad, sexo y ganancias.
2. Sobre el conjunto anterior muestra las últimas 10 filas.

In [29]:
adults[['age', 'sex','gains']].tail(10)

        age     sex  gains
32550  32.0    Male  <=50K
32551  43.0    Male  <=50K
32552  32.0    Male  <=50K
32553  53.0    Male   >50K
32554  22.0    Male  <=50K
32555  27.0  Female  <=50K
32556  40.0    Male   >50K
32557  58.0  Female  <=50K
32558  22.0    Male  <=50K
32559  52.0  Female   >50K

3. Muestra los datos de las columnas primera, segunda, tercera y quinta para las 100 primeras filas. Ordena el resultado de forma descendente por edad.

In [30]:
adults_100 = adults.iloc[0:100, [0,1,2,4]]
adults_100.sort_values(by='age', ascending=False, inplace=True) #If inplace=True, perform operation in-place.False by default. Esto quiere decir
# que altera el orden del dataframe aunque,éste no se asigne propiamente a un nuevo dataframe.
print(adults_100)

     age workclass  fnlwgt  education-num
73  79.0   Private  124744           10.0
99  76.0   Private  124191           14.0
76  67.0         ?  212759            6.0
82  59.0   Private  159937            9.0
23  59.0   Private  109015            9.0
..   ...       ...     ...            ...
69  19.0   Private  101509           10.0
25  19.0   Private  168294            9.0
79  18.0   Private  446839            9.0
77  18.0   Private  309634            7.0
50   NaN   Private  226956            9.0

[100 rows x 4 columns]

4. Muestra las 4 últimas columnas para todas las filas.

In [35]:
adults.iloc[:,-4:]

       capital-loss  hours-per-week native-country  gains
0                 0            13.0  United-States  <=50K
1                 0            40.0  United-States  <=50K
2                 0            40.0  United-States  <=50K
3                 0            40.0           Cuba  <=50K
4                 0            40.0  United-States  <=50K
...             ...             ...            ...    ...
32555             0            38.0  United-States  <=50K
32556             0            40.0  United-States   >50K
32557             0            40.0  United-States  <=50K
32558             0            20.0  United-States  <=50K
32559             0            40.0  United-States   >50K

[32560 rows x 4 columns]

5. Utilizando el dataframe que has creado en el ejercicio 3.3, recupera el número de usuarios/as de nacionalidad cubana y solteros/as.  ¿Cómo lo harías sobre el dataframe adults que no tiene dicho índice?

In [37]:
adults_new_index.loc[('Unmarried','Cuba')].shape[0]
adults[(adults['relationship']=='Unmarried') & (adults['native-country']=='Cuba') ].shape[0]

/var/folders/s6/jrljwskd5db3wl9nl031hg100000gn/T/ipykernel_16061/4146738547.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  adults_new_index.loc[('Unmarried','Cuba')].shape[0]

13

6. EXTRA1: Busca todas aquellas mujeres solteras de nacionalidad cubana

In [38]:
#adults[(adults['sex']=='Female') & (adults['native-country']=='Cuba') & (adults['relationship']=='Unmarried')]
x=adults_new_index[adults_new_index['sex']=='Female'].loc[('Unmarried','Cuba')]
print(x)

                              age workclass  fnlwgt     education  \
relationship native-country
Unmarried    Cuba            31.0   Private  243605     Bachelors
             Cuba            52.0   Private  366232           9th
             Cuba            38.0   Private  229180     Bachelors
             Cuba            72.0   Private  195184       HS-grad
             Cuba            46.0   Private  213408  Some-college
             Cuba            55.0   Private  223613       1st-4th
             Cuba            36.0   Private  229180  Some-college
             Cuba            47.0   Private  218435       HS-grad
             Cuba            40.0         ?  224361           9th
             Cuba            41.0   Private  183105       HS-grad
             Cuba            52.0   Private  318975       HS-grad
             Cuba            66.0   Private  236784     Bachelors
             Cuba            45.0   Private  297676    Assoc-acdm

                             education-num         marital-status  \
relationship native-country
Unmarried    Cuba                     13.0                Widowed
             Cuba                      5.0               Divorced
             Cuba                     13.0          Never-married
             Cuba                      9.0                Widowed
             Cuba                     10.0               Divorced
             Cuba                      2.0               Divorced
             Cuba                     10.0               Divorced
             Cuba                      9.0  Married-spouse-absent
             Cuba                      5.0               Divorced
             Cuba                      9.0              Separated
             Cuba                      9.0               Divorced
             Cuba                     13.0               Divorced
             Cuba                     12.0                Widowed

                                    occupation   race     sex  capital-gain  \
relationship native-country
Unmarried    Cuba                        Sales  White  Female             0
             Cuba                 Craft-repair  White  Female             0
             Cuba              Exec-managerial  White  Female             0
             Cuba              Priv-house-serv  White  Female             0
             Cuba                        Sales  White  Female             0
             Cuba              Priv-house-serv  White  Female             0
             Cuba                 Craft-repair  White  Female             0
             Cuba                        Sales  White  Female             0
             Cuba                            ?  White  Female             0
             Cuba            Machine-op-inspct  White  Female             0
             Cuba                 Adm-clerical  White  Female             0
             Cuba               Prof-specialty  White  Female             0
             Cuba                        Sales  White  Female             0

                             capital-loss  hours-per-week  gains
relationship native-country
Unmarried    Cuba                    1380            40.0  <=50K
             Cuba                       0            40.0  <=50K
             Cuba                       0            40.0  <=50K
             Cuba                       0            12.0  <=50K
             Cuba                       0            40.0  <=50K
             Cuba                       0            30.0  <=50K
             Cuba                       0            40.0  <=50K
             Cuba                       0            20.0  <=50K
             Cuba                       0             5.0  <=50K
             Cuba                       0            44.0  <=50K
             Cuba                       0            40.0  <=50K
             Cuba                       0             8.0  <=50K
             Cuba                       0            40.0  <=50K

/var/folders/s6/jrljwskd5db3wl9nl031hg100000gn/T/ipykernel_16061/2146383748.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  x=adults_new_index[adults_new_index['sex']=='Female'].loc[('Unmarried','Cuba')]

7. EXTRA2: Busca todas aquellas mujeres solteras de nacionalidad cubana que trabajen más de 40 horas a la semana

In [39]:
adults[(adults['sex']=='Female') & (adults['native-country']=='Cuba') & (adults['relationship']=='Unmarried') & (adults['hours-per-week']> 40)]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,gains
19719,41.0,Private,183105,HS-grad,9.0,Separated,Machine-op-inspct,Unmarried,White,Female,0,0,44.0,Cuba,<=50K

8. EXTRA3: Crea un nuevo dataframe que contenga exclusivamente a aquellos usuarios con nacionalidad portuguesa, francesa o nord-americana. Pista: utiliza la función isin. Borra las columnas occupation, capital-gain y capital-loss. Crea una nueva columna 'age-range' que tome los valores young para usuarios menores de 30 años, old para mayores de 60 y intermediate en cualquier otro caso.

In [ ]:
import numpy as np

adults_filter = adults[adults['native-country'].isin([' Portugal',' France','United-States','Canada','Mexico'])]

adults_filter = adults_filter.drop(columns=['occupation','capital-gain','capital-loss'])

#Solución 0

conditions = [(adults_filter['age']<30), (adults_filter['age']>=30) & (adults_filter['age']<60), (adults_filter['age']>60)]
values = ['young','intermediate', 'old']
adults_filter['age-range'] = np.select(conditions, values)
adults_filter

#Solución 1
adults_filter['age-range']=adults_filter.apply(lambda row: 'YOUNG' if row['age']<30 else('OLD' if row['age']>60 else 'intermediate') ,axis=1 )

#Solución 2
def agemap_function(x):
    if 0.0<= x <30: return 'young'
    elif 30<=x<=60: return 'intermediate'
    elif 60<= x <=100: return 'old'
adults_filter['age-range']=adults_filter['age'].apply(agemap_function)

#Solución 3
adults_filter.assign(age_range='young')[adults_filter['age']<30]
adults_filter.assign(age_range='old')[adults_filter['age']>60]
adults_filter.assign(age_range='intermediate')[(adults_filter['age']>30) & (adults_filter['age']>30)]

#Solución 4
lst = []
for i in adults_filter['age']:
    if i < 30:
        lst.append('Young')
    elif i > 60:
        lst.append('Old')
    else:
        lst.append('Mid')

adults_filter['age-range'] = lst
adults_filter

9. EXTRA4: Busca información sobre las funciones isnull, dropna y fillna. ¿Para qué se utilizan? Por un ejemplo interesante para cada una de ellas dónde se demuestre su utilidad.

### *Ejercicio 5: Agrupaciones*

1. Tomando los datos presentes en este dataset, ¿Cuál es la nacionalidad que tiene una mayor media de edad? ¿Y menor media?

In [ ]:
#adults.groupby('native-country')['age'].mean().sort_values()
adults.groupby('native-country').age.mean().idxmin()
adults.groupby('native-country').age.mean().idxmax()

### *Ejercicio 6: Gráficos*

1. Para cada columna (o feature) numérica, crea un gráfico de barras que muestre su distribución de valores.

In [ ]:
import matplotlib.pyplot as plt

#Opción 1 para todas las features numéricas

adults.hist(bins=20,figsize=(15,15))
plt.show()

#Una a una cada feature:

adults['age'].hist()

#Selección de las features que nos interesen

adults.hist(column=['age','hours-per-week'],bins=20,figsize=(10,4))

2. EXTRA: A continuación tienes un código que crea gráficos que muestran la distribución de las ganancias respecto al resto de columnas. Extrae conclusiones de los resultados y propón realizar estos gráficos para otra columna que consideres de interés.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df_numerics = adults.select_dtypes(include = np.number)

figure=plt.figure(figsize = (15, 6))

for i, column in enumerate(df_numerics.columns, 1):
    axes = figure.add_subplot(3,3,i)
    sns.kdeplot(x = df_numerics[column], hue = adults['gains'], fill = True, ax = axes)
    figure.tight_layout()

### *Ejercicio 7: Valores missing*

1. Gestiona los valores nulos con la técnica del rellenado. ¿Qué valores piensas que deberían de tener los nulos presentes en el dataset?

In [ ]:
adults.isnull().sum()

#Age: análisis y búsqueda del mejor valor de forma específica

#1. Visualizamos la fila
adults[adults['age'].isnull()]
#2. Calculamos la edad media de mujeres y madres solteras
value = adults[(adults['sex']=='Female') & (adults['relationship']=='Own-child')].age.mean() #24.626114081996434
print(value)
#3. Rellenamos con dicho valor
adults['age'].fillna(value) #En todas as baleiras
adults.iloc[50,0]=value     #Na fila 50
#4. Revisamos que se haya aplicado el cambio
adults.iloc[50,:]

#Workclass: rellenamos con la moda
adults['workclass'].fillna(adults['workclass'].mode())

#Race: haremos un rellenado aleatorio con el valor siguiente gracias al método bfill
adults['race'].bfill(axis=0)

#Hours-per-week: haremos un rellenado con el valor anterior gracias al método ffill
adults['hours-per-week'].ffill(axis=0)

2. Borra las columnas fnlwgt, education, capital_gain y capital_loss.

In [ ]:
adults = adults.drop(columns=['fnlwgt','education','capital-gain','capital-loss'])

### *Ejercicio 8: Datos categóricos*

1. Transforma todas las columnas categóricas a numéricas con un LabelEncoder.

In [ ]:
from sklearn.preprocessing import LabelEncoder

adults_num = adults.copy()
categorical_columns = adults_num.select_dtypes(include=object).columns.tolist()
adults_num[categorical_columns]=adults_num[categorical_columns].apply(LabelEncoder().fit_transform)
adults_num

### *Ejercicio 9: Escalado de los datos*

1. EXTRA1: Divide el dataset en 4 grupos (training y testing).
2. EXTRA2: Escala las columnas categóricas con un StandardScaler.

In [ ]:
from sklearn.model_selection import train_test_split

y = adults_num['gains'].values
X = adults_num.drop('gains',axis=1).values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train

# Webgrafía


[Curso de Cesar Guirò](https://cesguiro.es/doku.php?id=clase:ia:saa:start)
[Curso de Luz Frías](https://github.com/koldLight/curso-python-analisis-datos)
[Curso de Tirtjakupto Sarkar](https://github.com/tirthajyoti/Machine-Learning-with-Python)
[DataCamp](https://www.datacamp.com/)

# Licencia

[Attributon-ShacerAlike 4.0 International](https://creativecommons.org/licenses/by-sa/4.0/)

Puedes utilizar libremente este material, con las siguientes condiciones:

* Atribuir la autoría a este documento.
* Si lo utilizas y haces cambios, deberás liberarlo también bajo la misma licencia.